body {
  font-family: dock11;
  text-align: center;
  background-size: cover; /* Scale image to cover the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  background-attachment: fixed; /* Keeps background fixed when scrolling */
  margin: 0; /* Remove extra space */
  padding: 0;
  color: white; /* Change text color for better contrast */
}

/* Main page background */
body.main-page {
  background-image: url('assets/backMain.jpg');
}

/* Projects page background */
body.projects-page {
  background-image: url('assets/backProj.jpg');
}

h1 {
  color: #ffffff;
}
/* Default styles for background-text */
.background-text {
  font-family: dock11;
  font-size: 75px;
  letter-spacing: 10px;
  padding: 20px;
  display: inline-block;
  position: relative;
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 120%;
}

/* Main page specific background */
.main-page .background-text {
  background-image: url('assets/backMain.jpg');
}

/* Projects page specific background */
.projects-page .background-text {
  background-image: url('assets/backProj.jpg');
}

.text-container {
  display: inline-block;
  background: rgba(63, 63, 63, 0.75);
  padding: 10px 20px;
  border-radius: 40px;
  margin-top: 30px;
}

.topnav {
  background-color: rgba(63, 63, 63, 0.75);
  overflow: hidden;
}
  
.topnav a {
  font-family: dock11;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.headshot img {
  float: left;
  width: 15%; 
  height: auto; 
  padding: 10px;
  border-radius: 100px;
  border: 5px solid rgba(63, 63, 63, 0.75);
}

.aboutMe {
  font-family: dock11;
  font-size: 50px;
  letter-spacing: 2px;
  padding: 30px;
  float: left;
  background-color: rgba(63, 63, 63, 0.75);
  border-radius: 60px;
  margin-top: 30px;
}

/* Project Container */
.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  max-width: 80%;
  padding: 20px;
  background: rgba(63, 63, 63, 0.75);
  border-radius: 20px;
}

/* Ensure the anchor behaves like a block element without shrinking */
.project-container a {
  display: inline-block; /* Allows it to wrap around the image properly */
}

/* Set a consistent image size */
.project-container img {
  width: 70%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  max-height: 700px; /* Ensures images stay uniform */
  border-radius: 15px;
  border: 5px solid rgba(255, 255, 255, 0.3);
}



/* Project Description */
.project-description {
  width: 50%;
  padding: 20px;
  color: white;
  text-align: left;
}

/* Alternating Layouts */
.project-container:nth-child(odd) {
  flex-direction: row;
}

.project-container:nth-child(even) {
  flex-direction: row-reverse;
}

